@import 'normalize.css';
@import url('https://use.typekit.net/llu6kbq.css');

:root {
    --primary-color: rgba(254, 44, 85, 1);

    // Default layout

    --defaultlayout-header-height: 60px;
    --defaultlayout-width: 1150px;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
}
